* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 15px;
  overflow-x: hidden;
  height: 100%;
}

body {
  position: relative;
}
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

.container {
  margin: 150px auto;
  background-color: hsl(0, 0%, 95%);
  width: 1440px;
  padding: 5px;
}

.cards {
  margin: 150px 100px;
  display: flex;
}

.card1,
.card2,
.card3 {
  padding: 80px;
}

.card1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 0 0 15px;
}

.card2 {
  background-color: hsl(184, 100%, 22%);
}

.card3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 15px 15px 0;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 40px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 2;
  margin-bottom: 100px;
  font-size: 16px;
}

span {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 47px;
}

span:hover {
  outline: solid hsl(0, 0%, 95%) 3px;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.card1 span a {
  color: hsl(31, 77%, 52%);
}

.card2 span a {
  color: hsl(184, 100%, 22%);
}

.card3 span a {
  color: hsl(179, 100%, 13%);
}

span:hover a {
  color: hsl(0, 0%, 95%);
}

@media (max-width: 376px) {
  .container {
    width: 375px;
    height: 100%;
    margin: 0;
    padding-top: 50px;
  }
  .cards {
    margin: 0 20px;
    flex-direction: column;
  }
  .card1,
  .card2,
  .card3 {
    padding: 50px;
  }
  .card1 {
    border-radius: 15px 15px 0 0;
  }
  .card3 {
    border-radius: 0 0 15px 15px;
  }
  h1 {
    padding: 15px 0;
    font-size: 35px;
  }
  p {
    line-height: 1.7;
    margin-bottom: 40px;
  }
  span {
    font-weight: normal;
  }
}
